/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 20, 2021, 2:23:12 PM
    Author     : Admin
*/
GridPane{
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-border-radius : 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    
}
Label{
    -fx-font-size: 15px;
    -fx-text-fill: darkblue;
    -fx-font-weight: bold;
}
TableView{
    -fx-border-radius : 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color:#ff3333;
    -fx-border-width: 2;
}
Text.title{
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke-width: 2;
    -fx-stroke: gold;
    -fx-text-valignment: top;
    -fx-text-halignment: center;
}
Button.DangNhap{
    -fx-background-color: darkblue;
    -fx-text-fill: yellow;
    -fx-min-width: 200;
    -fx-min-height: 30;
    -fx-border-radius : 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
TextField{
    -fx-border-radius : 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

Button.MenuMainCN{
    -fx-text-fill: darkblue;
    -fx-min-width: 200;
    -fx-min-height: 42;
    -fx-border-radius : 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-font-size: 15px;
}
/*MENU DAT VE*/
Label.DatveLabel{
    -fx-font-size: 20px;
    -fx-text-fill: darkblue;
    -fx-font-weight: bold;
}
Button.MenuDatVe{
    -fx-text-fill: darkblue;
    -fx-border-radius : 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-font-size: 12px;
}
Label.Thongtinvedangdat{
    -fx-font-size: 20px;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
GridPane.GPThontinvedangdat{
    -fx-background-color: greenyellow;
    -fx-border-style:solid;
    -fx-border-color:#ff3333;
    -fx-border-width: 5; 
}
/*MENU MAIN*/
Label.lblChucnang{
    -fx-font-size: 25px;
    -fx-text-fill: black;
    -fx-content-display: center;
    -fx-pre-width: 190;
    -fx-padding: 15;
    -fx-font-weight: bold;
}

Label.lblThongtinNVTruc{
    -fx-font-size: 18px;
    -fx-text-fill: yellow;
}
Label.lblTitleNVTruc{
    -fx-text-fill: red;
    -fx-underline: true;
    -fx-font-size: 20px;
}
/**/
TextField.keyKH{
    -fx-max-width: 260;
    -fx-padding: 10;
    -fx-margin: 10,10,10,10;
}

GridPane.EditTravel{
    -fx-background-color: lightsalmon;
    -fx-padding: 10;
}
Label.CNEdit{
    -fx-font-size: 15px;
    -fx-margin: 10,10,10,500;
}
/*LOGIN*/
GridPane.GPLogin{
    -fx-background-image: url("Login_background.jpg");
}
Label.LblLogin{
    -fx-font-size: 40px;
    -fx-text-fill: #ff3333;
    -fx-font-weight: 900;
}


Text.TextLogin{
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke-width: 2;
    -fx-stroke: gold;
    -fx-text-valignment: top;
    -fx-text-halignment: center;
}

